body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url(../Content/Assets/homebackground2.jpg) no-repeat;
    background-size: cover;
}
li{
    font-size:large;
    font-weight:bolder;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 3px;
    padding-right: 3px;
}
th,td{
    text-align:center;
    font-weight:bold;
}

input {
    
    font-weight: bold;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
